@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>My Favorite Movies</h1>
<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers Infinity War</h2>
        <p>
            An unprecedented cinematic journey ten years in the making and spanning the entire Marvel Cinematic Universe, Marvel Studios' 'Avengers: Infinity War' brings to the screen the ultimate, deadliest showdown of all time. The Avengers and their Super Hero allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
        </p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersinfinitywar.jpg" />
    </div>
</div>
<div class="row mb-2">
    <div class="col-8">
        <h2>Avengers Endgame.</h2>
        <p>
            The grave course of events set in motion by Thanos, that wiped out half the universe and fractured the Avengers ranks, compels the remaining Avengers to take one final stand in Marvel Studios' grand conclusion to twenty-two films - Avengers: Endgame.
        </p>
    </div>
    <div class="col-4">
        <img src="~/img/avengersendgame.jpg" />
    </div>
</div>